<section style="background-color: #eee;">
<div class="container">
    <h1>Order Details</h1>
    <div class="row">
    <% @order.order_items.each do |order_item| %>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <%= order_item.product.name %> </br>
                    <%= order_item.product.price%> </br>
                    <%= order_item.quantity %> </br>
                </div>
            </div>
        </div>
    <% end %>
    </div>
    </div>
</section>


