<body style="background-image: url(<%= image_path 'background.avif' %>); background-size: cover; background-repeat: no-repeat;">
    <div style="text-align:center">
        <h1 style="color:white;margin-top:239px;font-size:80px">Welcome To Ekart</h1>
    </div>
</body>