.button-group {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }
  .navbar-toggler,
.navbar-toggler-icon {
  color: black;
  background-color: white;
  border: none;
}
.custom-radio-button {
  float: right;
  margin-top: -173px;
  transform: scale(2);
}
