<div class="mt-4">
    <div class="container">
        <%= form_with  url: category_path, method: :patch do |f| %>
            <div class="col-auto flex-grow-1">
                <%= f.text_field :category_name, placeholder: "category name", class: "form-control" %>
            </div>
            <br/>
            <div class="col-auto", style="text-align:center">
                <%= f.submit "Edit", class: "btn btn-primary btn-lg" %>
            </div>
        <%end%> 
    </div>
</div>
