<div class="row">
	<% @products.each do |product| %>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<%= product.name%> </br>
					<%= product.price %> </br>
					<%= button_to "Add Cart", cart_items_path + "?product_id=#{product.id}",  method: :post %>
				</div>
			</div>
		</div>
	<% end %>
</div>
